part1/ex1.11/spring-example-project
part1/ex1.12/frontend/example-frontend
part1/ex1.13/backend/example-backend
part2/ex2.03/backend/example-backend
part2/ex2.03/frontend/example-frontend
part2/ex2.04/backend/example-backend
part2/ex2.04/frontend/example-frontend
part2/ex2.05/scaling-exercise
part2/ex2.06/backend/example-backend
part2/ex2.06/frontend/example-frontend

